{% extends 'blog/base.html' %}

{% block content %}

<div class="cposts">
    <div class="text-center">
        <div class="compose" style="text-decoration: none;">×</div>
    </div>
</div>

<div class="blockquote text-center" style="font-family: 'Inter';">
    
    <div class="github-embeds-container">
<div class="github-embeds"><a class="github-button" href="https://github.com/tejxv" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @tejxv on GitHub">Follow @tejxv</a></div>

<div class="github-embeds"><a class="github-button" href="https://github.com/tejxv/my-first-blog/issues" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue tejxv/my-first-blog on GitHub">Issue</a></div>

<div class="github-embeds"><a class="github-button" href="https://github.com/tejxv/my-first-blog/generate" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-repo-template" data-size="large" aria-label="Use this template tejxv/my-first-blog on GitHub">Use this template</a></div>
</div>
  <br><small>not ready yet</small>
</div>

{% endblock %}