{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cposts">
	<div class="forms">
	    {% load crispy_forms_tags %}
	    <form method="POST">
	        {% csrf_token %}
	        <div class="border-bottom">
	        	<h2><br>Login<br></h2>
	        </div>
	        <br>
	        <fieldset class="form-group">
	            {{ form|crispy }}
	        </fieldset>
	        <div>
	            <button type="submit" class="submit">LOGIN</button>
	            <div class="date">
	                
	            </div>
	        </div>
	    </form>
	</div>
</div>
{% endblock %}