{% extends 'blog/base.html' %}
{% block content %}

<div class="cposts">
    <div class="blockquote text-center">
        <div class="posts">
            <div class="left-padding">
            	<div class="text-left">
                    <div class="post_title">{{ post.title }}
                    </div>
                </div>
                <div class="text">
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                <div class="date">        	
                    <p><b> — {{ post.author|default_if_none:"Anonymous User"}}</b><div class="upper-case_time">{{ post.published_date }}</div></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}