{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
<div class="cposts">
    <div class="blockquote text-center">
        <div class="posts">
        	<div class="text-left">
            <mark><b>&nbsp;<a href="{% url 'post_detail' pk=post.pk %}" title="Open Post">{{ post.title|upper }}</a>&nbsp;
            </b></mark>
            </div>
            <div class="text">
                <p>{{ post.text|truncatechars:200|linebreaksbr }}</p>
            </div>
            {% if post.text|length > 200 %}
            <div class="dots">
                <div class="text" style="text-align: left;"><a href="{% url 'post_detail' pk=post.pk %}" title="Open Post">&nbsp;•••&nbsp;</a></div>
            </div>
            {% endif %}
            <div class="date">        	
                <p>Posted by <b>{{ post.author|default_if_none:"Anonymous User"|capfirst}}</b> on {{ post.published_date }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}