{% extends 'blog/base.html' %}
{% block content %}
<div class="cposts">
	<div class="text-center">
		<div class="cbtn"><button class="gohome" onclick="window.history.go(-1)">&#8249; Go Back&nbsp;</button></div>
	</div>
	<div class="content">
		<div class="posts">
			<br>
	    	<h2><mark>{{ post.title|upper }}</mark></h2>
	    	<br>
	    	<div class="text"><p>{{ post.text|linebreaksbr }}</p></div>
	    	<div class="date">Posted on {{ post.published_date }}</div>
	    	<br>
		</div>
	</div>
</div>
<br>
<br>
<br>
{% endblock %}