{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="forms">
    {% load crispy_forms_tags %}
    <form method="POST">
        {% csrf_token %}
        <div class="border-bottom">
        	<h2><br>Sign up for a new account</h2>
        </div>
        <fieldset class="form-group">
        	<br>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="submit">SIGN UP</button>
            <div class="date">
                <div class="border-top mb">
                    <small>
                        Already Have An Account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                    </small>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}